# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
$python.exe$

# C extensions
*.so

# Distribution / packaging
.eggs/
dist/
build/
develop-eggs/
.pytest_cache/
.mypy_cache/
.venv/
env/

# IDE files
.idea/
*.iml
*.suo
*.sln
*.csproj

# Virtual environment
.env/
venv/
env/

VS Code
.vscode/
.vscode-test/
.vs

# Package files
*.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints/

# sphinx-build
_build/

# tempCodeRunnerFile
tempCodeRunnerFile.py